
// Font.
$font: (
  primary: ("Roboto",Helvetica,sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  // #555e69
  primary:       #1f3063,
  secondary:     darken(#1f3063, 12%), // 15%
  meta:          lighten(#1f3063, 50%), // 25%
  border:        lighten(#1f3063, 55%), // 55%
  bg:            lighten(#1f3063, 60%), // 60%
  accent:        #1de2bc,
  accent-blue:   #10bcf9,
  accent-violet: #9371e6,
  accent-orange: #fc6e51
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";